/* FILEPATH: /Users/proximus/Desktop/Programs/Web/index.css */

/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Add your styles below */
* {
  font-family: Helvetica, sans-serif;
}
* {
  font-family: Garamond, serif;
}
* {
  font-family: Futura, sans-serif;
}